.container{
    text-align: center;

}
img{
    margin-top: 50px;
    height: 170px;
}
.bg-4 {
    background-color: #222;
    color: #ffffff;
    height: 50px;
    bottom: 0;
    width: 100%;
    position: absolute;
}